In [1]:
import pandas as pd

In [3]:
cpi = pd.read_parquet("workspace/cpi_fred_factors.pq")

In [4]:
cpi

,date,usa.cpi,year,cpiyoy,cpi.hml,3M_rising,6M_rising,9M_rising,12M_rising,3Mchg,6Mchg,9Mchg,12Mchg
refmonthyear,,,,,,,,,,,,,
JAN.1914,1914-01-01,10.000,1914,2.040816,MED,False,False,False,False,NaN,NaN,NaN,NaN
FEB.1914,1914-02-01,9.900,1914,1.020408,MED,False,False,False,False,NaN,NaN,NaN,NaN
MAR.1914,1914-03-01,9.900,1914,1.020408,MED,False,False,False,False,NaN,NaN,NaN,NaN
APR.1914,1914-04-01,9.800,1914,0.000000,LOW,False,False,False,False,-0.200,NaN,NaN,NaN
MAY.1914,1914-05-01,9.900,1914,2.061856,MED,False,False,False,False,0.000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
JUL.2023,2023-07-01,305.691,2023,3.177780,HIGH,True,True,True,True,2.328,6.521,7.679,9.415
AUG.2023,2023-08-01,307.026,2023,3.665112,HIGH,True,True,True,True,2.899,6.186,9.315,10.855
SEP.2023,2023-09-01,307.789,2023,3.699698,HIGH,True,True,True,True,2.680,5.953,10.992,10.981
OCT.2023,2023-10-01,307.671,2023,3.241145,HIGH,True,True,True,True,1.980,4.308,8.501,9.659
NOV.2023,2023-11-01,307.051,2023,3.137271,HIGH,True,True,True,True,0.025,2.924,6.211,9.340